html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html,
body,
#app,
#app > div {
  height: 100%;
  background: aliceblue;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.places-container {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 300px;
}

.combobox-input {
  width: 100%;
  padding: 0.5rem;
}

.form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;
}

.form__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form__inner p {
  display: flex;
  align-items: flex-start;
}
/* .form__inner * {
} */

.form__label {
  width: 30%;
}

.logo {
  margin-top: 10rem;
}

.card-img {
  width: 400px;
  height: 400px;
}

.profile__section {
  padding-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10vh;
  height: 100vh;
}

.profile__inner {
  background: rgb(236, 236, 236);
  height: 50vh;
  padding: 60px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 20px 20px rgb(25, 135, 84);
  min-width: 60%;
}

.profile__inner h1 {
  font-size: 3rem;
}

.profile__inner span {
  font-size: 2rem;
}

.form__inner {
  background: rgb(236, 236, 236);
  height: 50vh;
  padding: 60px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 20px 20px rgb(25, 135, 84);
}

.form__container {
  padding-top: 50px;
}

.form__register {
  display: flex;
  flex-direction: column;
}

.form__register {
  font-size: 1.5rem;
}

.top__margin {
  /* margin-bottom: 100px; */
  border-bottom: rgb(25, 135, 84) 3px solid;
}

.mar {
  padding-top: 90px;
}

.btn__modal {
  position: absolute;
  bottom: 5vh;
  left: 50vw;
  z-index: 2;
  transform: translateX(-50%);
  font-size: 25px;
  width: 50vw;
}

.loading__center {
  position: absolute;
  top: 30vh;
  left: 50vw;
  transform: translateX(-50%);
}

.gm-style .gm-style-iw-c {
  /* padding-right: 10px !important; */
  padding-bottom: 0px !important;
  max-width: 100vw !important;
  max-height: 450px !important;
  min-width: 500px !important;
  /* box-sizing: border-box; */
  overflow: scroll;
  border-radius: 8px;
  /* box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3); */
}
.hamburger {
  display: none;
}

.header__responsive {
  height: 54px;
  width: 100vw;
  background-color: rgb(148, 243, 199);
  border-bottom: 1px solid black;
}

.anipicture {
  height: 300px;
  width: 100%;
}

/* .profile__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.profile__name {
  padding-right: 31.08px;
}

.profile__email {
  padding-right: 38.46px;
}

/* html {
  min-height: 100vh;
} */
@media (max-width: 600px) {
  .gm-style .gm-style-iw-c {
    width: 100vw !important;
    height: 75vh !important;
    min-width: 300px !important;
  }
  button.topnav {
    display: none;
  }
  .hamburger {
    display: block;
  }

  .navbar {
    padding-bottom: 0;
  }
  .btn__modal {
    top: 12px;
    bottom: initial;
    z-index: 100000;
    font-size: 13px;
    max-height: 40px;
  }
}
.profile__address-input {
  padding-right: 34px;
}
.last {
  padding-right: 5px;
}
@media (max-width: 900px) {
  .profile__inner {
    background: rgb(236, 236, 236);
    height: auto;
    padding: auto;
    display: block;

    border-radius: 20px;
    box-shadow: 20px 20px rgb(25, 135, 84);
  }
  .anipicture {
    width: 100vw;
  }
  .mobile-padding {
    padding-left: 2rem;
  }
}
